


         <!-- Featured Product Start -->
         <div class="featured-product product">
          <div class="container-fluid">
              <div class="section-header">
                  <h1>Productos</h1>
              </div>
              <div class="row align-items-center product-slider product-slider-4">
                  <div class="col-lg-3">

                    <app-article-product></app-article-product>
                  </div>
              </div>
          </div>
      </div>
      <!-- Featured Product End -->       
      