<app-header></app-header>

<div class="main">
    <div class="container">
        <div class="nav-container">
            <ul>
                <a href="#dashboard">
                    <li></li>
                </a>
                <a routerLink="#orders">
                    <li></li>
                </a>
                <a href="">
                    <li></li>
                </a>
                <a href="">
                    <li></li>
                </a>
                <a href="">
                    <li></li>
                </a>

            </ul>
        </div>
        <div class="content-container">
            <div id="dashboard">

            </div>
            <div id="orders">

            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>