@import url(../../../../../styles.css);

/*FOOTER*/

#line-footer {
    border: none;
    height: 7px;
    background-color: var(--blue-dark);
}

.container-all {
    width: 100%;
    height: 45vh;
    background-color: var(--letters-light);
    background-position: center;
    background-size: cover;
    background-image: url('../../../../../assets/img/footer.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container-body {
    position: relative;
    top: 5%;
    height: 45vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-top: 10px;
    color: var(--letters-dark);
    font-size: 16px;
}

.content {
    width: 100%;
    height: 70px;
}

.content-colum2 {
    width: 100%;
    height: 200px;
}

.colum1,
.colum2,
.colum3 {
    text-align: center;
    float: left;
    height: 100%;
    width: 320px;
}

.icono {
    fill: var(--blue-normal-dark);
    height: 25px;
    width: 25px;
}

.container-footer {
    float: left;
    text-align: center;
    background-color: var(--blue-normal-dark);
    color: var(--letters-light);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.copyright {
    font-size: 70%;
}

@media screen and (max-width:768px) {
    .container-all {
        height: 60vh;
    }
    .container-body {
        height: 60vh;
        display: block;
    }
    .container-body h2 {
        font-size: 24px;
    }
    .colum1,
    .colum2 {
        margin: 2px;
        width: 250px;
        height: 50%;
        overflow: hidden;
    }
    .colum3 {
        width: 250px;
        height: 20%;
    }
    .footer-p {
        font-size: 16px;
    }
}

@media screen and (max-width:634px) {
    .container-all {
        height: 100vh;
    }
    .colum1,
    .colum2,
    .colum3 {
        width: 100%;
    }
}