<div class="container-space">

    <div class="search">
        <input type="search" name="search" placeholder="Buscar" />
        <img src="../../../../../assets/img/search.svg" alt="" id="buscador">
    </div>

    <div class="language">
        <img src="../../../../../assets/img/estados-unidos.png" alt="Idioma">
    </div>
    <div class="car">
        <a routerLink="/cart"><img src="../../../../../assets/img/car.svg" alt="" id="car-logo"></a>
        <span id="car-span"><a routerLink="/cart">Carrito</a> </span>
    </div>

</div>