<app-header></app-header>

<div class="body">
    <div class="product-container">
        <div class="product">
            <div class="row">
                <div class="order-card">

                    <a routerLink="/product-detail">ver</a>
                </div>
                <div class="order-card">
                </div>
                <div class="order-card">
                </div>
                <div class="order-card">
                </div>
                <div class="order-card">
                </div>
                <div class="order-card">
                </div>
                <div class="order-card">
                </div>
                <div class="order-card">
                </div>

            </div>

        </div>

        <div class="sidebar">

        </div>
    </div>
</div>

<app-footer></app-footer>