<app-container-elements></app-container-elements>
<app-container-top></app-container-top>


<input type="checkbox" id="btn-menu" />

<label for="btn-menu">
    <div class="burger">


        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</label>

<nav id="nav-links">

    <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="#">Categorías</a>
            <ul>
                <li><a href="/product-list">Test</a></li>
            </ul>
        </li>
        <li><a href="/article-list">Artículos Médicos</a></li>
        <li><a routerLink="/consultant">Consultoría</a></li>
        <li><a routerLink="#">Cuenta</a>
            <ul>
                <li><a routerLink="/my-account">Perfil</a></li>
                <li><a routerLink="/login">Ingresa</a></li>
                <li><a routerLink="/register">Crea tu cuenta</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </li>
        <li>
            <a></a>
        </li>


    </ul>
</nav>