@import url(../../../../../styles.css);

/* Navegación */

#nav-links {
    float: right;
    background-color: var(--blue-normal);
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.205);
}

#nav-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

#nav-links ul li {
    list-style: none;
    position: relative;
}

#nav-links ul li a {
    padding: 0 20px;
    display: block;
    color: var(--letters-light) !important;
    text-decoration: none;
}

#nav-links ul li a:hover {
    padding: 0 20px;
    color: var(--red-love) !important;
    text-decoration: none;
}

#nav-links>ul>li>ul {
    background-color: var(--blue-normal);
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.205);
    position: absolute;
    display: none;
}

#nav-links>ul>li:hover>ul {
    display: inline;
    width: 145px;
}

#btn-menu {
    display: none;
}

@media screen and (min-width:2000px) {
    .language,
    .profile,
    .search,
    .car {
        margin-top: 2% !important;
        padding-left: 5%;
    }
}

@media screen and (max-width:768px) {
    .container-header {
        padding-left: 5%;
        padding-right: 5%;
    }
    #nav-links {
        position: absolute;
        background-color: var(--blue-dark);
        height: 100vh;
        padding: 0;
        line-height: 50px;
        font-size: 24px;
        display: flex;
        visibility: hidden;
        z-index: 2;
    }
    #btn-menu:checked~#nav-links {
        visibility: visible;
    }
    #nav-links>ul {
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
    #nav-links>ul>li {
        text-align: center;
        align-items: center;
        line-height: 100px;
        font-size: 24px;
        display: block;
    }
    #nav-links>ul>li:hover>ul {
        display: block;
        position: relative;
        width: 100%;
    }
    .container-header {
        height: 20%;
    }
    .burger {
        position: absolute;
        cursor: pointer;
        right: 5%;
        margin-top: 2%;
        transform: translate(50%, -212%);
    }
    .line {
        height: 3px;
        width: 30px;
        background-color: var(--blue-dark);
        margin: 5px;
    }
    #header-logo {
        width: 61px;
        height: 61px;
    }
    #container-main {
        z-index: 1;
    }
}

@media screen and (max-width:500px) {
    .container-space {
        left: 10%;
    }
}