<div class="container-header">

    <div class="logo">
        <a routerLink="/"><img src="../../../../../assets/img/logo.svg" alt="" id="header-logo"></a>
    </div>

    <div class="container-space">

        <div class="search">
            <input type="search" name="search" placeholder="Buscar" />
            <img src="../../../../../assets/img/search.svg" alt="" id="buscador">
        </div>

        <div class="language">
            <img src="../../../../../assets/img/estados-unidos.png" alt="Idioma">
        </div>

        <!-- <div class="profile">
            <a href="html/perfil.html"><iframe src="../../../../../assets/img/profile.svg" alt="" id="user"></iframe></a>

            <span id="profile-span"> <a href="html/perfil.html">Mi cuenta</a> </span>
        </div> -->

        <div class="car">
            <a routerLink="/cart"><img src="../../../../../assets/img/car.svg" alt="" id="car-logo"></a>
            <span id="car-span"><a routerLink="/cart">Carrito</a> </span>
        </div>

    </div>
</div>

<hr id="line-header">


<input type="checkbox" id="btn-menu" />

<label for="btn-menu">
    <div class="burger">


        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</label>

<nav id="nav-links">

    <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="#">Categorías</a>
            <ul>
                <li><a href="/product-list">Test</a></li>
            </ul>
        </li>
        <li><a href="/article-list">Artículos Médicos</a></li>
        <li><a routerLink="/consultant">Consultoría</a></li>
        <li><a routerLink="#">Cuenta</a>
            <ul>
                <li><a routerLink="/my-account">Perfil</a></li>
                <li><a routerLink="/login-register">Login/Register</a></li>
                <li><a href="#">Salir</a></li>
            </ul>
        </li>
        <li>
            <a></a>
        </li>


    </ul>
</nav>